@import "reset.css";

body {
	font-size: 1.1em;
	line-height: 1.5;
}

header {
	text-align: center;
	color: #fff;
	background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	min-height: 450px;
	padding: 100px 0 0;
}

.head {
	display: block;
	padding: 0 1.5em;
	font-weight: bold;
}

.head h1 {
	display: block;
	font-size: 2em;
}

.head p {
	display: block;
	padding: 1em 0;

}

.head button {
	display: inline-block;
	text-transform: capitalize;
	background-color: #333;
	color: #fff;
	padding: 1em 2em;
	border: 1px solid #666;
}