@import "reset.css";

body {
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	text-align: center;
	background: #333;
}

header {
	text-align: center;
	color: #fff;
	min-height: 450px;
}

.bg-img {
	position: absolute;
	background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
	background-color: #333;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 450px;
	z-index: -1;
	opacity: 0.4;
}

.head {
	display: block;
	padding: 0 1.5em;
}

.head h1 {
	display: block;
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	padding-top: 100px;
}

.head p {
	display: block;
	padding: 1.1em 0;
}

.head button {
	display: inline-block;
	text-transform: capitalize;
	background-color: #333;
	color: #fff;
	padding: 1em 2em;
	border: 1px solid #666;
}

.section1 {
	background: #eaeaea;
	color: #333;
	padding-bottom: 2em;
}

.content {
	display: block;
	padding: 0 80px;
}

.content > h2 {
	margin: 0;
	padding: 1em 0;
	text-transform: capitalize;
	font-size: 1.5em;
	font-weight: bold;
}

.content div {
	columns: 2;
	column-gap: 1.8em;
	padding: 0 13em;
	height: 96px;
}

.content p {
	padding-top: 0;
	margin: 0;
}

.image > img {
	width: 273px;
	height: 166px;
	object-fit: cover;
}

.section2 {
	padding: 2em 1em 1em;
}

.card {
	display: inline-block;
	background: white;
	width: 273px;
	text-align: center;
	color: #333;
	height: 496px;
}

.image {
	width: 273px;
	height: 180px;
	overflow: hidden;
}

.image > img {
	width: inherit;
	height: inherit;
	overflow: hidden;
}

.cardContent {
	padding: 1.5em;
}

.cardContent > h3 {
	font-weight: bold;
	font-size: 1.17em;
}

.cardContent > h3, .cardContent > p {
	padding: 1em 0;
	line-height: 1.5em;
}

.card + .card {
	margin-left: 15px;
}

.section3 {
	background: #fff;
	color: #333;
	padding: 2em;
}

.content-wrap {
	display: block;
}

.content-wrap > h2 {
	margin: 0;
	padding: 1em 0;
	font-weight: bold;
	font-size: 1.5em;
}

.content-wrap > p {
	display: block;
	margin: 0;
	padding: 1em 0;
}

.section4 {
	width: 100%;
	columns: 2;
	column-gap: 0;
}

.box1 {
	display: block;
	background: #2690d4;
	padding: 2em;
	color: #fff;
}

.box1 > h2 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	padding: 1em 0;
}

.box1 > p {
	margin: 0;
}

.box2 {
	display: block;
	padding: 2em;
	color: white;
}

.box2 > h2 {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
	padding: 1em 0;
}

.box2 > p {
	margin: 0;
}

footer {
	padding: 2em;
	background: #000;
	color: #fff;
	text-align: center;
	columns: 2;
	column-gap: 0;
}

footer div > a {
	color: #2690d4;
	text-decoration: none;
}